body{
  margin: 0;  /* all margins set to 0 */
  text-align: center;
  font-family: 'Merriweather', serif;
  color:#40514E;

}


h1{
  font-size: 5.62rem;
  color: #66BFBF;
  margin: 50px auto 0px auto;
  font-family: 'Sacramento', cursive;
  /*line-height: 2; */
}

h2{

  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom:10px;
  /*font-weight: normal;*/
}

h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;

}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color:#f9f3f3;
}

p{
    line-height: 2;
}

hr{
  border:dotted #114e60 6px;
  border-bottom: none;
  width:10%;
  margin:100px auto;

}

.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;

}

.bottom-container{
background-color: #66BFBF;
padding:50px 0 20px;
}
.pro
{
  text-decoration: underline;
}

.bottom-cloud{      /* bottom cloud and top cloud are now positioned according to top container(as it is set to relative)*/
  position:absolute;
  top:400px;
  left:250px;

}

.top-cloud{
  position:absolute;
  top:40px;
  right:300px;
}

.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align:left;


}

.sing-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.instruments-img{

  width: 25%;
  float: right;
  margin-left: 30px;

}

/*.skill-desc{
  clear:left;
  font-weight: bold;
}

.skill-desc2{
  clear:right;
  font-weight: bold;
} */

.intro{
  width:30%;
  margin: auto;
}

.outro{
  width:40%;
  margin:40px auto 60px;
}

.copyright{
  color:#f9f3f3;
  font-size: 0.75rem;
  padding:20px 0;
}

.BUTTON_PLB {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Arial;
   width: 112px;
   font-size: 16px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_PLB:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
